
(function(){



var container = $('.feedback');

var formHeight = $('.feedbackform').height();

<% if @feedback.errors.any? %>

	$('#feedbackAlert').html("<%= escape_javascript( render 'shared/feedback_error_messages') %>"); 

	// <% @feedback.errors.full_messages.each do |error| %>
	
	// 	$('#feedbackAlert').append('<p><%= escape_javascript( error ) %></p>');

	// <% end %>

	var alertHeight = $('#feedbackAlert').outerHeight();
	
	var newHeight = (alertHeight + 320);
	console.log(alertHeight + "and" + formHeight);

	$('.feedbackArea').animate({ "height": newHeight });

	container.find('h3').css('color', 'red');

<% else %>
	container.find('h3').css('color', 'green');

	container.find('#feedbackAlert').text("Thank You!!!!").show();

	container.find('.feedbackform').hide();

	container.find('#formID')[0].reset();
<% end %>

})();





