@import "bootstrap";

/* universal */



h1 {
	text-align: center;
}

body {


}
/* footer */

.feedback {
	background: #333333;
	width: 400px;
	/*margin-bottom: 0;*/
	color: white;
	position: fixed;
	overflow: hidden;
	bottom: 0;
	/*margins: auto;*/
	/*padding-left: 5em;*/
	/*text-align: center;*/
	right: 100px;

	border-top-left-radius:2em;
	border-top-right-radius:2em;
/*	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em*/

	.feedbackSuccess {
		text-align: center;
		font-size: 2em;
		padding-top: 3em;
	}

	#feedbackAlert {
		/*display: none;*/
		width: 80%;
		margin: 0 auto;
	}
	
	.feedbackForm {
		/*height: 0px;*/
		width: 80%;
		margin: 0 auto;
		position: relative;
		padding-bottom: 0.5em;


		textarea {
			width: 95%;
			border: 1px solid #bbb;
			
			/*height: 1.5em;*/
			height: auto !important;
			resize: none;
			vertical-align: middle;


		}
	}

	h3 {
		font-size: 1.5em;
		text-align: center;
		line-height: 1em;

	}



}

