@import "bootstrap";

/* universal */

h1 {
	text-align: center;
}

body {


}
/* footer */

.feedback {
	background: #333333;
	width: 400px;
	/*margin-bottom: 0;*/
	color: white;
	position: fixed;
	overflow: hidden;
	bottom: 0;
	/*margins: auto;*/
	/*padding-left: 5em;*/
	/*text-align: center;*/
	right: 100px;

	#feedbackAlert {
		/*display: none;*/
	}
	
	.feedbackform {
		height: 0px;
		width: 80%;
		margin: 0 auto;
		position: relative;

		textarea {
			width: 100%;
		}
	}

	h3 {
		font-size: 1.5em;
		text-align: center;
		line-height: 1em;

	}



}

